{% extends 'base.html' %}

{% block css %}

<style>
	.table{
		table-layout: fixed;
	}
	.table td{
		word-wrap: break-word;
	}

</style>
<style>
@media only screen and (max-width: 800px){
	#requests-table table, thead, tbody, th, td, tr{
		display: block;
	}
	#requests-table thead tr{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#requests-table tr{
		margin: 0 0 1rem 0;
	}

	#requests-table tr:nth-child(odd){
		background: #ccc;
	}

	#requests-table td{
		/*Behave like a 'row'*/
		border: none;
		border-bottom: 1px solid #eee;
		postion: relative;
		padding-left: 50%;
	}
	#requests-table td:before{
		/*Now like a table header*/
		position: absolute;
		/*top/left values mimic padding*/
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: normal;
	}
	#requests-table td:nth-of-type(1):before{content: "Request Number -";}
	#requests-table td:nth-of-type(2):before{content: "district -";}
	#requests-table td:nth-of-type(3):before{content: "location ";}
	#requests-table td:nth-of-type(4):before{content: "Requestee ";}
	#requests-table td:nth-of-type(5):before{content: "Phone -";}
	#requests-table td:nth-of-type(6):before{content: "Date -";}
	#requests-table td:nth-of-type(7):before{content: "More details -";}
}
@media only screen and (max-width: 420px){
	#requests-table td {
	min-height: 60px;
	}
}
</style>
{% endblock css %}

{% block content %}
	<h1 class="text-center">Registered Contributor</h1>
	<h2 class="text-center">bangla language</h2>
	
	<form action="" method="get">
		{% bootstrap_form filter.form bound_css_class=False %}
		<input type="submit" class="btn btn-primary" value="View Contributor">
	</form>

	<div id="requests-table" class="table-responsive">
		<table id="req-table" class="table">
			<thead>
				<tr>
					<th>District</th>
					<th>Name</th>
					<th>Phone</th>
					<th>address -ml</th>
					<th>contrib_details -ml</th>
					<th>status -ml</th>
				</tr>
			</thead>
			<tbody>
				{% for req in data %}
				<tr>
					<td>{{ req.get_district_display }}</td>
					<td>{{ req.name }}</td>
					<td>{{ req.phone }}</td>
					<td>{{ req.address }}</td>
					<td>{{ req.contrib_details }}</td>
					<td>{{ req.get_status_display }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% include 'includes/pagination.html' %}



{% endblock content %}

