{% extends 'base.html' %}

{% block content %}

	<div class="row text-center static-page-box">
		<h1 class="text-center">Disclaimer</h1>
		<p style="font-size: 1.7rem">this portal has been developed for effective collaboration between various stakeholders such as citizen, Government authorities, various NGO and vulanteers, IEEE makes no represtations regarding the completeness, accuracy of any information and data contained on this portal or that such information received through the portal the requests receive does not warrant any commitment on the service. by the using site you acknowledge that you have read and agree to this </p>
		<b></b>
		<h1 class="text-center">GDPR</h1>
		<p style="font-style: 1.7rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe placeat accusantium laboriosam, consectetur repudiandae facilis blanditiis. Eaque?</p>
	</div>

{% endblock content %}
