{% extends 'base.html' %}

{% block css %}

<style>
	.table{
		table-layout: fixed;
	}
	.table td{
		word-wrap: break-word;
	}

</style>
<style>
@media only scream and (max-width: 800px){
	#requests-table table,  thead, tbody, th, td, tr{
		display: block;
	}
	#requests-table thead tr{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#requests-table tr:nth-child(odd){
		background: #ccc;
	}

	#requests-table td{
		/*Behave like a 'row'*/
		border: none;
		border-bottom: 1px solid #eee;
		postion: relative;
		padding-left: 50%;
	}
	#requests-table td:before{
		/*Now like a table header*/
		position: absolute;
		/*top/left values mimic padding*/
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: normal;
	}
	#requests-table td:nth-of-type(1):before{content: "Request Number -";}
	#requests-table td:nth-of-type(2):before{content: "district -";}
	#requests-table td:nth-of-type(3):before{content: "location ";}
	#requests-table td:nth-of-type(4):before{content: "Requestee ";}
	#requests-table td:nth-of-type(5):before{content: "Phone -";}
	#requests-table td:nth-of-type(6):before{content: "Date -";}
	#requests-table td:nth-of-type(7):before{content: "More details -";}
}
@media only screen and (max-width: 420px){
	#requests-table td {
	min-height: 60px;
	}
}
</style>
{% endblock css %}

{% block content %}
	{% block breadcrumb %}
		<!-- Navigation Breadcrumb -->
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-content="page">Registered Requests</li>
	{% endblock breadcrumb %}

	<h1 class="text-center">Registered Requests</h1>
	<h2 class="text-center">Bang language</h2>
	<form action="" class="get">
		{% bootstrap_form filter.form filter.form bound_css_class=False %}
		<input type="submit" value="Views requests" class="btn btn-primary">
	</form>

	<div id="requests-table" class="table-responsive">
		<table id="req-table" class="table">
			<thead>
				<tr>
					<th>Request Number -</th>
					<th>District</th>
					<th>Location</th>
					<th>Requestee</th>
					<th>Phone</th>
					<th>Date</th>
					<th>Elapsed Time</th>
					<th>More Details</th>
					<th>Update</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for req in data %}
				<tr>
					<td>{{ req.id }}</td>
					<td>{{ req.get_district_display }}</td>
					<td>{{ req.location }}</td>
					<td>{{ req.requestee }}</td>
					{% if req.is_old %}
					<td>Hidden for older requests</td>
					{% else %}
					<td><a href="tel:{{ req.requestee_phone }}">{{req.requestee_phone}}</a></td>
					{% endif %}
					<td>{{ req.dateadded }}</td>
					<td>{{ req.dateadded|timesince }}</td>
					<td><a href="{% url 'requestdetailview' req.id %}" class="btn btn-sm btn-success" target="_blank">More details</a></td>
					<td><a href="{% url 'requestupdateview' req.id %}" class="btn btn-sm btn-success" target="_blank">Update</a></td>
				</tr>
			</tbody>
		</table>
		{% include 'includes/pagination.html' %}
	</div>
<script>
	window.addEventListener('load', function(){
		$
	})
</script>

{% endblock content %}