{% extends 'base.html' %}

{% load static %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Home</li>
		</ol>
	</nav>
	<div class="container text-center">
		<h1 class="main-logo"><span style="font-weight: normal;">Rescue</span></h1>
		<p style="margin-bottom: 20px;">
			<i>An initiative of govt. of bd, IT... public sector <br>
				For effective collaboration and communication among authoirities, volunteers and public <strong><span class="notranslate">ুিকব কবতৃকতবকৃত বতক তৃকিতক ৃকতকক</span></strong><br>
				<a href="{% static 'img/msg_pm.jpg' %}" class="btn btn-info btn-msg">Message from Prime Minister</a></i>
				<a href="http:donation.com/donation" class="btn btn-info btn-msg">Donate to Prime Ministe Relief fund</a>
		</p>
	</div>


{% endblock content %}

